<container>
<header>Лого</header>
    {{{ navigation }}}
    <main class="edit-page">
        <h3>Изменение данных польхователя
        </h3>
        <form action="submit">
            {{{ input_firstName }}}
            {{{ input_secondName }}}
            {{{ input_chatName }}}
            {{{ input_login }}}
            {{{ input_email }}}
            {{{ input_phone }}}
            {{{ input_newPassword }}}
            {{{ input_repeatPasswor }}}

            {{{ button_enter }}}


            <div class="form_page__form-input">
                <span>Установить новую аватарку</span>
                <input type="file" name="avatar">
            </div>
        </form>
    </main>
</container>

