    <nav class="navigation">
        {{{ button_home}}}
        {{{ button_login }}}
        {{{ button_register }}}
        {{{ button_404 }}}
        {{{ button_500 }}}
        {{{ button_edit }}}

    </nav>
