<container>
    <header>Лого</header>
    {{{ navigation }}}

    <main class="signin">
        <section class="form-section">
            <form action="submit" class="form-section__form">
                <h2 class="form-section__title">Авторизация</h2>
                {{{ input_login }}}
                {{{ input_password }}}
                {{{ button_enter }}}
            </form>
            <div class="form-section__right">
                <div class="form-section__right__text">
                    <h2>Нет аккаунта?</h2>
                    <p>Присоединяйся к нам!</p>
                </div>
                {{{ button_register }}}
            </div>
        </section>
    </main>
</container>
