<container>
<header>Регистрация</header>
    {{{ navigation }}}

    <main class="form_page">
        <form action="submit" class="form_page__form">
            <h2>Регистрация</h2>

            {{{ input_firstName }}}
            {{{ input_secondName }}}
            {{{ input_chatName }}}
            {{{ input_login }}}
            {{{ input_email }}}
            {{{ input_phone }}}
            {{{ input_password }}}

            {{{ button_enter }}}
        </form>
        </div>
    </main>
</container>
